@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #764e6a, #124980);

}

.calculator{
    border: 1px solid rgb(124, 123, 120);
    border-radius: 16px;
    padding: 21px;
    background: transparent;
    box-shadow: 0px 3px 15px  rgb(212, 234, 146);

}

input{
    border: none;
    background: transparent;
    text-align: right;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgb(84 84 84 0.1);
    color: #fff;
    font-weight: bold;

}

input::placeholder{
    color: #fff;
}

button{
    border: none;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -7px -8px 20px rgb(115, 114, 112);

}

.eqlbtn{
    background-color: rgb(205, 148, 41);
    font-weight: bold;
}

.operator{
    color: green;
    font-weight: bold;
}